<footer class="footer">
  <div class="p2 wrap">
    <div class="measure mt1 center">
      <style>
        .footer-logo { width: 100px; }
      </style>
      <small>
        <a href="{{ site.baseurl }}">
          <img src="/static/img/coffee-logo.svg" class='footer-logo' alt="cto.coffee logo">
        </a>
        <br>
        {{ site.description }}
        <br>
        <br>
        <a href="/impressum/">Impressum</a>
        | <a href="/privacy/">Privacy / Datenschutz</a>
        | <a href="/story-behind-the-name">The story behind the name</a>
        <br>
        Follow me on <a href="https://www.linkedin.com/in/benjamin-reitzammer/">LinkedIn</a>
        <br>
        Follow the podcast on <a href="https://open.spotify.com/show/1tTIPMUw3jT882J0dprLYq">Spotify</a> or
        <a href="https://podcasts.apple.com/de/podcast/cto-coffee-lets-talk-people-tech/id1327337875?l=en">Apple Podcasts</a>
      </small>
    </div>
  </div>
</footer>
