<footer class="footer">
  <div class="p2 wrap">
    <div class="measure mt1 center">
      <style>
        .footer-logo { width: 100px; }
      </style>
      <small>
        <a href="{{ site.baseurl }}">
          <img src="/static/img/coffee-logo.svg" class='footer-logo' alt="cto.coffee logo">
        </a>
        <br>
        {{ site.description }} | {{ site.subtitle }}
        <br>
        <br>
        <a href="/impressum/">Impressum</a>
        | <a href="/privacy/">Privacy / Datenschutz</a>
        | <a href="https://twitter.com/benjamin">Follow me on Twitter</a>
        <br>
        <a href="/story-behind-the-name">The story behind the name</a>
      </small>
    </div>
  </div>
</footer>
