---
layout: layout
---
{% assign minutes = content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
  {% assign minutes = 1 %}
{% endif %}

<div class='jumpback'>
  <a href='/{{ page.categories }}'>↖︎ Back to list of {{ page.categories }}</a>
</div>

<article class="post-content">
  {{ content }}
</article>

<div class="mb2 post-meta small">
  {{ page.date | date: "%b %-d, %Y" }} || {{ minutes }} minute read
</div>

<hr>

<a name="newsletter-signup">
<p>
  Sign up for for the cto ☕️ newsletter to get  occasional (max. 1 per month) emails with updates from this site and what I'm learning on my journey to become a better human and leader.
<p>

{% include mailerlite-form.html %}
